<!-- Первый раздел - проектирование -->
<div id="planning">
	<div class="header_page">
		<img src="<%= asset_path("head_left.png") %>"/>
		<h3>Проектирование систем домашнего кинотеатора и стерио аудио систем класса Hi-Fi и High End</h3>
		<div class="header_logo_with_container">
			<img src="<%= asset_path("head_right.png") %>"/>
			<span class="header_page_logo header_page_logo_1"></span>
		</div>
	</div>
	<div class="slider page_content_margin content">
		<ul ng-gallery-slider>
			<li data-thumb="<%= asset_path("img1.jpg") %>">
				<img src="<%= asset_path("img1_big.jpg") %>" />
			</li>
			<li data-thumb="<%= asset_path("img1.jpg") %>">
				<img src="<%= asset_path("img1_big.jpg") %>" />
			</li>
			<li data-thumb="<%= asset_path("img1.jpg") %>">
				<img src="<%= asset_path("img1_big.jpg") %>" />
			</li>
			<li data-thumb="<%= asset_path("img1.jpg") %>">
				<img src="<%= asset_path("img1_big.jpg") %>" />
			</li>
			<li data-thumb="<%= asset_path("img1.jpg") %>">
				<img src="<%= asset_path("img1_big.jpg") %>" />
			</li>
		</ul>
	</div>
	<div class="description page_content_margin content">
		<%= Section.get_description(Section::PLANNING).html_safe %>
	</div>
</div>