<!-- Гарантийное и сервисное обслуживание техники -->
<div id="service">
	<div class="header_page">
		<img src="<%= asset_path("head_left.png") %>"/>
		<h3>Гарантийное и сервисное обслуживание техники</h3>
		<div class="header_logo_with_container">
			<img src="<%= asset_path("head_right.png") %>"/>
			<span class="header_page_logo header_page_logo_4"></span>
		</div>
	</div>
	<div class="page_content_margin content service_container">
		<div class="service_colmn">
			<div class="service_item">
				<img class="service_icon" src="<%= asset_path("ic_consultation.png") %>"/>
				<span class="service_title">Консультации</span>
			</div>
			
			<div class="service_item">
				<img class="service_icon" src="<%= asset_path("ic_service.png") %>"/>
				<span class="service_title">Cервисное обслуживание</span>
			</div>
		</div>
		<img class="service_colmn" src="<%= asset_path("banner_service.png") %>"/>
		<div class="service_colmn">
			<div class="service_item">
				<img class="service_icon" src="<%= asset_path("ic_repair.png") %>"/>
				<span class="service_title">Ремонт</span>
			</div>
			
			<div class="service_item">
				<img class="service_icon" src="<%= asset_path("ic_consumables.png") %>"/>
				<span class="service_title">Расходные материалы</span>
			</div>
		</div>
	</div>
	<div class="description page_content_margin content">
		<p><%= Section.get_description(Section::SERVICE).html_safe %></p>
	</div>
</div>