<!-- Второй раздел - Профессиональный подбор -->
<div>
	<div class="header_page">
		<img src="<%= asset_path("head_left.png") %>"/>
		<h3>Профессиональный подбор аудио-видео компонентов от начального до элитного уровня</h3>
		<div class="header_logo_with_container">
			<img src="<%= asset_path("head_right.png") %>"/>
			<span class="header_page_logo header_page_logo_2"></span>
		</div>
	</div>
	<div class="page_content_margin content image_block">
		<ul class="list_inline img_image_block">
			<li><img src="<%= asset_path("1_acoustics.jpg") %>"/><label class="separator"></label></li>
			<li><img src="<%= asset_path("2_Hi-Fi.jpg") %>"/></li>
			<li><img src="<%= asset_path("3_cables.jpg") %>"/></li>
			<li><img src="<%= asset_path("4_furniture.jpg") %>"/></li>
			<li><img src="<%= asset_path("5_attachment.jpg") %>"/></li>
			<li><img src="<%= asset_path("6_projector.jpg") %>"/></li>
		</ul>
		<ul class="list_inline titles_image_block">
			<li><span>Акустические системы</span></li>
			<li><span>Hi-Fi, High End Компоненты</span></li>
			<li><span>Кабели, аксессуары, системы питания</span></li>
			<li><span>Аудио-Видео мебель</span></li>
			<li><span>Крепления и аксессуары</span></li>
			<li><span>Проекционное оборудование</span></li>
		</ul>
	</div>
	<div class="description page_content_margin content">
		<p><%= Section.get_description(Section::COMPONENTS).html_safe %></p>
	</div>
</div>