<!-- Раздел большой -->
<div id="installation">
	<div class="header_page">
		<img src="<%= asset_path("head_left.png") %>"/>
		<h3>Профессиональная установка и настройка оборудования</h3>
		<div class="header_logo_with_container">
			<img src="<%= asset_path("head_right.png") %>"/>
			<span class="header_page_logo header_page_logo_3"></span>
		</div>
	</div>

	<div class="page_content_margin content clear">
		<ul class="pages_type list_inline page_content_margin">
			<li ng-class="{'active': activeCategory == categories.photo}"
				ng-click="changeCategory(categories.photo)">ФОТОГАЛЕРЕЯ</li>
			<li ng-class="{'active': activeCategory == categories.video}"
				ng-click="changeCategory(categories.video)">ВИДЕОГАЛЕРЕЯ</li>
		</ul>

		<ul class="page_gallery page_content_margin list_inline" ng-show="activeCategory == categories.video">
			<li class="gallery_item">
				<div class="gallery_item_header">
				</div>
				<span class="gallery_item_title">ВИДЕО</span>
			</li>
		</ul>

		<ul class="page_gallery page_content_margin list_inline"
		    ng-show="activeCategory == categories.photo">
			<li class="gallery_item"
			    ng-repeat="finishedObject in finishedObjects"
			    ng-click="openDialog(finishedObject)">
				<div class="gallery_item_header">
					<label class="gallery_item_icon"
						   ng-class="{'gallery_item_apartment': finishedObject.object_type == 'flat', 'gallery_item_cottage': finishedObject.object_type == 'cottage'}"></label>
					<div class="gallery_item_preview">
						<img src="{{finishedObject.preview}}" width="400px" height="150px" />
					</div>
				</div>
				<span class="gallery_item_title">{{finishedObject.name}}</span>
			</li>
		</ul>
		
		<div class="pages_navigation_block">
			<ul class="pages_navigation list_inline">
				<% FinishedObject.pages_count.to_i.times do |i| %>
					<li><a ng-class="{'active': page == <%= i + 1 %>}" href="" ng-click="changePage(<%= i + 1 %>)"><%= i + 1 %></a></li>
				<% end %>
			</ul>
		</div>
	</div>
	<div class="description page_content_margin content">
		<p><%= Section.get_description(Section::INSTALLATION).html_safe %></p>
	</div>
</div>