<!-- Первый раздел - проектирование -->
<div>
	<div class="header_page">
		<img src="<%= asset_path("head_left.png") %>"/>
		<h3>Проектирование систем домашнего кинотеатора и стерио аудио систем класса Hi-Fi и High End</h3>
		<div class="header_logo_with_container">
			<img src="<%= asset_path("head_right.png") %>"/>
			<span class="header_page_logo header_page_logo_1"></span>
		</div>
	</div>
	<div class="slider page_content_margin content">
		<div>
			<div id="ninja-slider" ng-ninja-slider style="float:left;">
				<div class="slider-inner">
					<ul>
						<li><a class="ns-img" href="<%= asset_path("img1_big.jpg") %>"></a></li>
						<li><a class="ns-img" href="<%= asset_path("img1_big.jpg") %>"></a></li>
						<li><a class="ns-img" href="<%= asset_path("img1_big.jpg") %>"></a></li>
					</ul>
					<div class="fs-icon" title="Expand/Close"></div>
				</div>
			</div>
			<div id="thumbnail-slider" ng-thumbnail-slider style="float:left;">
				<div class="inner">
					<ul>
						<li>
							<a class="thumb" href="<%= asset_path("img1.jpg") %>"></a>
						</li>
						<li>
							<a class="thumb" href="<%= asset_path("img1.jpg") %>"></a>
						</li>
						<li>
							<a class="thumb" href="<%= asset_path("img1.jpg") %>"></a>
						</li>
					</ul>
				</div>
			</div>
			<div style="clear:both;"></div>
		</div>
	</div>
	<div class="description page_content_margin content">
		<p><%= Section.get_description(Section::PLANNING).html_safe %></p>
	</div>
</div>