<%= render 'static_pages/home_floating_menu' %>
<div class="container">
	<%= render 'static_pages/home_header' %>
	<%= render 'static_pages/home_planning' %>
	<%= render 'static_pages/home_components' %>
	<%= render 'static_pages/home_sponsors' %>
	<%= render 'static_pages/home_installation' %>
	<%= render 'static_pages/home_service' %>
	<%= render 'static_pages/home_cooperation' %>
</div>
<%= render 'static_pages/footer' %>