<%= render partial: 'static_pages/static_header', locals: { section: 'articles' } %>

<div>
	<div class="page_content_margin content clear">
		<ul class="page_gallery page_content_margin list_inline">
			<% @articles.each do |article| %>
			<li class="gallery_item">
				<a href="/articles/<%= article.id %>" class="gallery_item_header" >
					<div class="gallery_item_preview page_content_margin">
						<%= article.title %>
					</div>
				</a >
				<span>&nbsp</span>
			</li>
			<% end %>
		</ul>

		<div class="pages_navigation_block">
			<ul class="pages_navigation list_inline">
				<% @pages_count.to_i.times do |i| %>
					<li>
						<a class="<%= 'active' if @page == i + 1 %>"
						   href="/articles?page=<%= i + 1 %>">
							<%= i + 1 %>
						</a>
					</li>
				<% end %>
			</ul>
		</div>
	</div>
</div>